.button {
  text-decoration: none;
  background-color: #1C2135;
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid #1C2135;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: #444858;
  border-color: #444858;
}

.button:focus {
  outline: none;
}
